<body id="cadSala">
    <div class="area">
    <!-- apenas para manter o layout do exemplo, pode ser removido se não quiser -->
  </div>
  <div class="conteudo-principal">
    <h1 class="tituloSala">Cadastro de Salas</h1>
    <form id="cadastro-sala-form" method="POST" action="/salas/cadastrosala">
      <div class="linha-form">
        <div class="basico-Sala">
          <div class="input-group-cadSala">
            <label for="numero">*Nome da Sala:</label>
            <input type="text" id="numero" name="nome_salas" required />
          </div>
          <div class="input-group-cadSala">
            <label for="tipo_sala">*Tipo de Sala:</label>
            <select id="tipo_sala" name="id_tipo" required>
              {{#each tiposSala}}
                <option value="{{id_tipo}}">{{descricao}}</option>
              {{/each}}
            </select>
          </div>
          <div class="input-group-cadSala">
            <label for="bloco">*Bloco:</label>
            <select id="bloco" name="id_bloco" required>
              {{#each blocos}}
                <option value="{{id_bloco}}">{{descricao}}</option>
              {{/each}}
            </select>
          </div>
          <div class="input-group-cadSala">
            <label for="andar">*Andar:</label>
            <select id="andar" name="id_andar" required>
              {{#each andares}}
                <option value="{{id_andar}}">{{descricao}}</option>
              {{/each}}
            </select>
          </div>
          <div class="input-group-cadSala">
            <label for="capacidade">*Capacidade:</label>
            <input min="0" type="number" id="capacidade" name="capacidade" required />
          </div>
        </div>
        <div class="infra-sala">
          <div class="input-group-cadSala">
            <label for="tipo_mesa">*Tipo de Mesa:</label>
            <select id="tipo_mesa" name="id_mesa" required>
              {{#each tiposMesa}}
                <option value="{{id_mesa}}">{{descricao}}</option>
              {{/each}}
            </select>
          </div>
          <div class="input-group-cadSala">
            <label for="arcondicionado">*Ar-condicionado:</label>
            <select id="arcondicionado" name="ar_cond" required>
              <option value="sim">Sim</option>
              <option value="nao">Não</option>
            </select>
          </div>
          <div class="input-group-cadSala">
            <label for="projetor">*Projetor:</label>
            <select id="projetor" name="projetor" required>
              <option value="sim">Sim</option>
              <option value="nao">Não</option>
            </select>
          </div>
          <div class="input-group-cadSala">
            <label for="quadro">*Quadro Branco:</label>
            <select id="quadro" name="quadro" required>
              <option value="sim">Sim</option>
              <option value="nao">Não</option>
            </select>
          </div>
          <div class="input-group-cadSala">
            <label for="computador">*Computadores:</label>
            <input min="0" type="number" id="computador" name="computador" required />
          </div>
        </div>
      </div>
      <div class="linha-form">
        <div class="acess-sala">
          <div class="input-group-cadSala">
            <label for="mesa_canhoto">*Mesas de canhoto:</label>
            <input min="0" type="number" id="mesa_canhoto" name="mesa_canhoto" required />
          </div>
          <div class="input-group-cadSala">
            <label for="acessibilidade">*A sala é acessível?:</label>
            <select id="acessibilidade" name="acess" required>
              <option value="sim">Sim</option>
              <option value="nao">Não</option>
            </select>
          </div>
          <div class="input-group-cadSala">
            <label for="qtdade_mesa_acessivel">*Mesas acessíveis:</label>
            <input min="0" type="number" id="mesa_acess" name="qtdade_mesa_acessivel" required />
          </div>
          <div class="input-group-cadSala">
            <label for="imagem_sala">Imagem da Sala:</label> <br>
            <input type="file" id="imagem_sala" name="imagem_sala" accept="image/*" class="input-grande" />
          </div>
        </div>
        <div class="extra-sala">
          <div class="input-group-cadSala">
            <label for="descricao">Descrição:</label> <br>
            <textarea id="descricao" name="descricao" class="input-grande"></textarea>
          </div>
          
      </div>
      <button class="cadSala-Button" type="submit">Cadastrar</button>
  </div>
  </form>


  <script src="sidebar.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
