<script>
// ...existing code...
</script>
<nav class="breadcrumb-nav">
  <ol class="breadcrumb-list">
    <li class="breadcrumb-item"><a href="/adm">Gerenciador ADM</a></li>
    <span class="breadcrumb-separator"> &gt; </span>
    <li class="breadcrumb-item"><a href="/andares">Gerenciador de andares</a></li>
  </ol>
</nav>
<div class="container">
  <div class="header">
    <div class="title-container">
      <h1><i class="fas fa-layer-group"></i> Gerenciador de Andares</h1>
      <a href="/mais/adicionaandar" class="btn-add" id="btnAddAndar" title="Adicionar andar">
        <button class="btn-add" id="btnAddAndar" title="Adicionar andar">
          <i class="fas fa-plus"></i>
        </button>
      </a>
    </div>
  </div>
  <div class="user-table-container">
    <table class="user-table">
      <thead>
        <tr>
          <th>Nome do Andar</th>
          <th>Bloco</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {{#if andares.length}}
          {{#each andares}}
            <tr>
              <td>{{this.descricao}}</td>
              <td>{{this.blocoAndar.descricao}}</td>
              <td class="actions">
               <a href="editarAndar/{{id_andar}}" class="btn-action btn-edit">
                            <i class="fas fa-edit"></i>
                            <span>Editar</span>
                        </a>
                        <a href="excluirAndar/{{id_andar}}" class="btn-action btn-delete" >
                            <i class="fas fa-trash-alt"></i>
                            <span>Excluir</span>
                        </a>
              </td>
            </tr>
          {{/each}}
        {{else}}
          <tr class="empty-message-row">
            <td colspan="3" class="empty-message">
              Nenhum andar cadastrado. Clique no botão
              <i class="fas fa-plus"></i>
              para adicionar.
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</div>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/andar.css">
<script src="/andar.js" defer></script>