<script>
document.addEventListener('DOMContentLoaded', function() {
  document.querySelectorAll('.btn-delete').forEach(function(btn) {
    btn.addEventListener('click', function(e) {
      if (!window.confirm('Tem certeza que quer excluir?')) {
        e.preventDefault();
      }
    });
  });
});
</script>
<div class="container">
  <div class="header">
    <div class="title-container">
      <h1><i class="fas fa-users-cog"></i> Gerenciador de Usuários</h1>
      <a href="/mais/adicionaUsuario" class="btn-add" id="btnAddUser" title="Adicionar usuário" style=" text-decoration: none;">
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </div>
  <div class="user-table-container">
    <table class="user-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Senha</th>
          <th>Ações</th>
        </tr>
      </thead>
     
      <tbody>
        {{#if usuarios.length}}
          {{#each usuarios}}
            <tr>
              <td>{{this.nome}}</td>
              <td>{{this.email}}</td>
              <td><input type="password" value="{{this.senha}}" readonly style="border:none; background:transparent; width:100px;" /></td>
              <td class="actions">
                <a href="/editarUsuario/{{id_user}}" class="btn-action btn-edit">
                            <i class="fas fa-edit"></i>
                            <span>Editar</span>
                        </a>
                        <a href="/excluirUsuario/{{id_user}}" class="btn-action btn-delete" >
                            <i class="fas fa-trash-alt"></i>
                            <span>Excluir</span>
                        </a>
              </td>
            </tr>
          {{/each}}
        {{else}}
          <tr class="empty-message-row">
            <td colspan="4" class="empty-message">
              Nenhum usuário cadastrado. Clique no botão
              <i class="fas fa-plus"></i>
              para adicionar.
            </td>
          </tr>
        {{/if}}
      </tbody>
         

    </table>
  </div>
</div>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/usuariosAdm.css">
<script src="/usuariosAdm.js"></script>